* {
    margin: 0;
    padding: 0;
    height: auto;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Estilos gerais do header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #240046;
}

.header__logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo img {
    max-width: 350px;
    height: auto;
    border-radius: 100%;
}

.portifolio {
    margin-left: 20px;
    font-size: 1.5rem;
    white-space: nowrap;
}

/* Menu do header */
.header__menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.header__menu li {
    display: inline-block;
}

.header__menu li a {
    color: #FFD700;
    text-decoration: none;
    font-weight: bold;
    font-size: 25pt;
}

.header__menu li a:hover {
    color: #FF81F2;
}

/* Main */
main {
    padding: 20px;
    background-color: #fff;
}

.cursos-conteudo, 
.experiencia-conteudo, 
.conquistas-conteudo, 
.linguas-conteudo {
    padding: 20px;
    font-size: 20pt;
}

.redes-sociais{
    background-color: #240046;
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 20px 0;
    bottom: 0;
    
}

.redes-sociais img{
width: 40px;
height: 40px;
border-radius: 50%;
background-color: white;
padding: 10px;
box-sizing: border-box;
transition: transform 0.3 ease, background-color 0.3 ease;

}

.redes-sociais img:hover{
    transform: scale(1.1);
    background-color: #FFD700;
}
/* Footer */
.footer {
    background-color: #240046;
    color: #FFD700;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 15pt;
}

/* Responsividade */
/* Para telas menores que 1024px */
@media (max-width: 1024px) {
    .header__menu li a {
        font-size: 20pt;
    }
    .portifolio {
        font-size: 1.2rem;
    }
}

/* Para telas menores que 480px (smartphones) */
@media (max-width: 480px) {
    .header__menu li a {
        font-size: 16pt;
    }

    .portifolio {
        font-size: 1rem;
    }

    .cursos-conteudo, 
    .experiencia-conteudo, 
    .conquistas-conteudo, 
    .linguas, 
    .contato {
        font-size: 16pt;
    }

    footer {
        font-size: 14pt;
    }
}



