
*{
    margin: 0;
    padding: 0;
    height: auto;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #240046;
}

.header__logo img {
    border-radius: 50%;
}

.header__menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.header__menu li {
    display: inline-block;
}

.header__menu li a {
    color: #FFD700;
    text-decoration: none;
    font-weight: bold;
    font-size: 25pt;
}

.header__menu li a:hover {
    color: #FF81F2;
}

/* Main */
main {
    padding: 20px;
    background-color: #fff;
}

.cursos-conteudo{
    padding: 20px;
    font-size: 20pt;
}

.experiencia-conteudo{
    padding: 20px;
    font-size: 20pt;
}
.conquistas-conteudo{
    padding: 20px;
    font-size: 20pt;
}

.linguas{
    padding: 20px;
    font-size: 20pt;
}

.contato{
    padding: 20px;
    font-size: 20pt;
}

/* Footer */
.footer {
    background-color: #240046;
    color: #FFD700;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 15pt;
}

